body {
  font-size: 16px;
  color: #3f3f44;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}


#header-nav {
  background-color: #f5b971;
  border-radius: 0;
  border:0;

}

.navbar-brand a:hover , .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand h1 { 
  color: #85a392;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#collapsable-nav{
	

}

#nav-list {
	background-color: 
	width: 96%;
	margin:15px;
	font-weight: bold;

}

#nav-list li {

	margin: 1px;

}

#menu-content{
	width: 96%;
	margin-left: 2%;
	margin-top: 15px;
	background-color:#ffecc7;
	
}
#menu-content h3{
	
	font-weight: bold;
}

#page-heading{
	font-weight: bold;
	color: #85a392;
}

#menu-content h3{
	font-weight: bold;
	color: #85a392;
}

#menu-content p{
	color: #85a392;
}

