* {
  box-sizing: border-box;
}
body{
  background-color: #f7f7f7;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2em;

}

p {
  width: 90%;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;

}

section {
  width: 90%;
  background-color: #e8e4e1;
  position: relative;
  border: 3px solid black;
  margin-bottom: 30px

  
}

#title1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  background-color: #f9c49a;
  font-size: 1.5em;
  margin: 0px 0px 10px 0px


}

#title2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  background-color: #ec823a;
  font-size: 1.5em;
  margin: 0px 0px 10px 0px
}

#title3 {
  width: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  text-align: center;
  background-color: #f8b24f;
  font-size: 1.5em;
  margin: 0px 0px 10px 0px
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    border: 3px solid black;
  }
  
  .col-lg-4 {
    width: 30%;
    margin: 1.6%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 3px solid black;
  }
  
  .col-md-6 {
    width: 46%;
    margin: 2%;

  .col-md-12 {
    width: 96%;
    margin: 2%;
  }
}

@media (max-width: 767px) {
  .col-sl-12 {
    float: left;
    
  }

  .col-sl-12 {
    width: 96%;
    margin: 2%;
  }
}